.taskList{
    display: flex;
    gap: 0.75rem;

    color: var(--gray-100);
    background-color: var(--gray-500);

    padding: 1rem;

    border: 1px solid var(--gray-400);
    border-radius: 8px;

    width: 100%;
}

.circle{
    height: 18px;
    width: 18px;
    border-radius: 18px;
    border: 1px solid var(--blue);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.circle:hover{
    border: 1px solid var(--blue-dark);
    background-color: rgba(30,111,159,.3)
}

.circleCompleted{
    height: 18px;
    width: 18px;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--purple-dark);

    cursor: pointer;
}

.circleCompleted:hover{
    background-color: var(--purple);
}

.taskIncompleted{
    display: flex;
    flex-wrap: wrap;
    width: 39.5rem;
}

.taskCompleted{
    display: flex;
    flex-wrap: wrap;
    width: 39.5rem;
    word-wrap: break-word;

    color: var(--gray-300);
    text-decoration-line: line-through;
}

.trash{
    width: 1.5rem;
    height: 1.5rem;

    background-color: transparent;
    border: 0;
    border-radius: 4px;
    color: var(--gray-300);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.trash:hover{
    background-color: var(--gray-400);
    color: var(--red-danger)
}